body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
    background-color: #c3dbf0;
}

h1,
h2 {
    color: #0d477a;
}

button {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    padding: 8px 26px;
    margin: 20px;
    background-color: #0d477a;
    color: #daeaf7;
    border: none;
    border-radius: 10px;
    border: 2px solid #0d477a;
    cursor: pointer;
}

button:hover {
    background-color: #daeaf7;
    color:#0d477a;
    border: 2px solid #0d477a;
}

#result {
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px #0d477a;
}
